.footer {
    padding:3rem 0 10rem;
    color:#fff;
  text-align:center;
  }
  .footer a {
    color:#fff;

    &:hover, &:focus {
      color:#99E8C8;
    }
  }
  .footer svg{
    display:inherit;
  }
   
  .footerSocial {
    list-style:none;
    padding:0;
    margin:0;

 

  }
  .footerSocial li {
    display:inline-block;
    margin:5px;


  }

    .social {
      font-size:1.65em;
      vertical-align: middle;
      margin:2px;
    }
  
  .footerSocial a {
    padding:5px;
  }
  .socialshare {
    list-style: none;
    margin:0 0 2rem;
    padding:0;
  
  
  }
  .socialshare li {
    display: inline-block;

  }
  .facebook .button { 
      background: #3B5998;
      border-color: #3B5998;
  }
  .twitter .button {
   
      background: #00ACEE;
      border-color: #00ACEE;
    
  }
  .facebook a{
      text-decoration:none;
  }
  .twitter a{
    text-decoration:none;
}
.button:focus {
    text-decoration: none;
    outline: none;
    color: #fff;
    -webkit-transform: scale(1.045,1.045);
    -moz-transform: scale(1.045,1.045);
    -ms-transform: scale(1.045,1.045);
    -o-transform: scale(1.045,1.045);
    transform: scale(1.045,1.045);
}
.button{
    background: #333;
    color: #fff;
    font-weight: 700;
    font-family: proxima-nova,sans-serif;
    height: 48px;
    line-height: 43px;
    padding: 0 1.15rem;
    display: inline-block;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-size: 1.15rem;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
    border: 2px solid #333;
    text-align: center;
}

.sronly {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

